html{
    height: 10000px;
}

body {
    font: 14px "Arial", sans-serif;
    background-color: #e3e3e3;
    height: 100%;
    
}

#root{
    height:100%;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1100px;
    height: 100%;
    background-color: white;
    position: relative;
}

div.header {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 7px 0px;
    color: white;
    background-image:linear-gradient(#DF0101, #B40404);
    box-shadow: 0px 1px 5px gray;
}


h1{
    -ms-transform: translateY(-50%);
    transform: translateY(-70%);
    margin-left: 15px;
}


input.search{
    background-color:#424242;
    margin: 10px 20px;
    height: 30px;
    color:#D8D8D8;
    border-radius: 20px;
    padding-left: 10px;

}

div.header ul {
    list-style-type: none;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
div.header ul li {
    display: inline-block;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
}

div.header-right{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 25px;
    font-size: 14px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

p.join{
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
}

p.login{
    height: 30px;
    line-height: 30px;
    border: .5px solid;
    padding: 0px 15px;
    border-radius: 20px;
}

div.username-bar {
    position: relative;
    padding: 7px 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px dotted #cecece;
    display: flex;
    flex-direction: row;
}

div.username-bar h1 {
    font-size: 20px;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
}

div.username-bar ul{
    list-style-type: none;
    float: right;
    position: absolute;
    right: 0px;
    top: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

div.username-bar ul li {
    display: inline-block;
    padding: 15px;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: #0187c5;
}

div.page {
    border: 1px #cecece;
    width: 100%;
    height: 1110px;
    display: flex;
    flex-direction: row;
}

div.leftCol {
    border-right: 1px dotted #cecece; 
    width: 70%;
    float: left;
    height: 1110px;
    padding: 10px;
}

div.rightCol {
    width: 30%;
    float: right;
    position: relative;
    height: 1110px;
}

div.userCard {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

img.photo {
    width: 126px;
    height: 178px;
    float: left;
    margin-top: 10px;
}

div.userCardInfo{
    margin-left: 15px;
    font-size: 13px;
}

.grayDetail{
    font-size: 13px;
    color: #999;
}

.count{
    display: inline-block;
    padding: 1px;
    background-image: linear-gradient(#585858, #000);
    border-radius: 1px;
    margin-right: 2px;
    color: white;
}

div.profileOptions{
    border-top: 1px solid #eee;
    height: 120px;
}

div.floatLeft{
    float: left;
}

div.floatLeft ul{
    list-style-type: none;
    line-height: 20px;
    font-size: 13px;
}

div.compatibility{
    position: relative;
    float: right;
    width: 75%;
    height: 80px;
    margin-right: 10px;
    line-height: 5px;
    font-size: 13px;
}

div.compatibility a, .seeMore{
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-weight: bold;
}

#compatibilityBar {
    display: block;
    position: relative;
    height: 8px;
    border-radius: 3px;
    background-color: #ccc;
}

div.recentScrobbles{
    position: relative;
    border-top: 1px dotted #cecece;
    padding: 10px;
}

div.recentScrobbles h2, div.library h2, div.artistChart h2{
    color: #D51007
}

div.recentScrobbles ul{
    margin-left: -35px;
    margin-bottom: 20px;
}

li.track{
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 12px;
    height: 50px;
    border-bottom: 1px solid #ccc;
}

li.track img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#time{
    color: #999;
    position: absolute;
    right: 2px;
}

div.library{
    width: 100%;
    height: 475px;
    position: relative;
    border-top: 1px dotted #cecece;
}

div.subtitle{
    display: flex;
    flex-direction: row;
    position: relative;
}

div.libraryInfos{
    line-height: 5px;
    font-size: 15px;
}

#libraryPlayButton{
    background-image: linear-gradient(#585858, #2E2E2E);
    color: white;
    position: absolute;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    right: 5px;
    margin-top: 5px;
}

.gridRow{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    line-height: 10px;
    
}

.artistGridCard img{
    width: 150px;
    height: 120px;
    margin-right: 20px;
}

.artistGridCard p{
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}


div.tabs{
    border-bottom: 1px solid #cecece;
    height: 25px;
}

div.tabs ul{
    margin-left: -30px;
}

div.tabs ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 13px;
    font-size: 12px;
    height: 14px;
}

div.tabs ul li#selected{
    border: 1px solid #ccc;
    border-radius: 2px;
    border-bottom: 1px solid #fff;
    padding: 5px;
}

div.chart table{
    margin-top: 10px;
    width: 100%;
    border-spacing: 0;
}

tr{
    background-color: #D8D8D8;
    height: 20px;
    font-size: 12px;
}

.position{
    text-align: right;
    width: 10%;
}

.subject{
    padding-left: 10px;
    width: 50%;
}


.chartBarCell{
    width: 40%;
    background-color: white;
}

td{
    padding-right: 2px;
}

.chartBar{
    width: 100%;
    background-color: #71b7e6;
    border-radius: 0 3px 3px 0;
    padding: 4px;
}
.chartBar a{
    color: white;
}
